
@using MVC_Evernote
@model IEnumerable<MyEvernote.Entities.EvernoteUser>

@{
    ViewBag.Title = "Kategoriler";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Kullanıcılar</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p>

            <a href="/EvernoteUser/Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Oluştur</a>

        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAdmin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @MyBootstrap.LinkButton("/EvernoteUser/Edit/" + item.Id, "warning", "btn-xs", "Düzenle", "glyphicon glyphicon-edit", string.Empty)

                        @MyBootstrap.LinkButton("/EvernoteUser/Details/" + item.Id, "info", "btn-xs", "Detaylar", "glyphicon glyphicon-search", string.Empty)

                        @MyBootstrap.LinkButton("/EvernoteUser/Delete/" + item.Id, "danger", "btn-xs", "Sil", "glyphicon glyphicon-trash", string.Empty)
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
