@using MVC_Evernote
@model IEnumerable<MyEvernote.Entities.Category>

@{
    ViewBag.Title = "Kategoriler";
}



<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Kategoriler</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p>

            <a href="/Category/Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Oluştur</a>

        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedUsername)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedUsername)
                    </td>
                    <td>
                        @MyBootstrap.LinkButton("/Category/Edit/" + item.Id, "warning", "btn-xs", "Düzenle", "glyphicon glyphicon-edit", string.Empty)

                        @MyBootstrap.LinkButton("/Category/Details/" + item.Id, "info", "btn-xs", "Detaylar", "glyphicon glyphicon-search", string.Empty)

                        @MyBootstrap.LinkButton("/Category/Delete/" + item.Id, "danger", "btn-xs", "Sil", "glyphicon glyphicon-trash", string.Empty)
                    </td>
                </tr>
            }

        </table>

    </div>
</div>


